body {
    margin: 0;
}

* {
    box-sizing: border-box;
}


.posters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}


.posterButton {
    max-width: 300px;
    cursor: pointer;
    border: none;
    padding: 5px;
}


.posterButton img {
    width: 100%;
}

.player:first-of-type {
    order: 1;
}

.player {
    order: 3;
}